.DS_Store

.idea/encodings.xml

.idea/modules.xml

.idea/misc.xml

.idea/preferred-vcs.xml

.idea/shelf

.idea/workspace.xml

api-doc/

index.js

node_modules/

test-results

standalonedata/

worldwind.js

worldwind.min.js