/* @version $Id: CoordinateController.css 3117 2015-05-27 19:36:35Z dcollins $ */

/* Coordinate overlay common attributes. */
#coordinateOverlay {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    text-shadow: 0px 0px 2px black;
    pointer-events: none; /* ignore mouse and touch events in the coordinate overlay */
}

/* Coordinate overlay terrain latitude. */
#terrainLatitude {
    display: inline-block;
    width: 55px;
    text-align: right;
}

/* Coordinate overlay terrain longitude. */
#terrainLongitude {
    display: inline-block;
    width: 70px;
    text-align: right;
}

/* Coordinate overlay terrain elevation. */
#terrainElevation {
    display: inline-block;
    width: 60px;
    text-align: center;
    margin: 0px 0px 0px 5px;
}

/* Coordinate overlay eye altitude label. */
#eyeAltitudeLabel {
    margin: 0px 3px 0px 15px;
}

/* Coordinate overlay position in medium to large viewports. */
@media (min-width: 992px)  {
    #coordinateOverlay {
        position: absolute;
        bottom: 10px;
        left: 260px;
    }
}

/* Coordinate overlay position in small viewports. */
@media (max-width: 992px) {
    #coordinateOverlay {
        position: absolute;
        top: 5px;
        left: 5px;
    }
}